<footer class="footer pb-6 @@classes">
    <div class="container">
        <div class="col text-center">


            <p><strong>Telephone Number:</strong> 925-307-9427</p>
            <p><strong>Mailing Address:</strong></p>
            <p>3710 Lone Tree Way # 214</p>

            <p>Antioch, CA 94509</p>
            <a href="/html/pages/privacy-statement.html">Privacy Statement</a>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col mb-md-0">
                <a href="/" class="d-flex justify-content-center">
                    <img src="@@path/assets/img/brand/CR4Y_Logo.png" height="25" class="mb-3" alt="CR4Youth Logo">
                </a>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">Copyright © CR4Youth
                        <span class="current-year">2021</span>. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>