@@if (environment === 'production') {
    @@include('./_analytics-body.html')
}

<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom @@classes">
        <div class="container position-relative">
            <a class="navbar-brand me-lg-5" href="@@path/">
                <img class="navbar-brand-dark" src="@@path/assets/img/brand/CR4Y_Logo.png" alt="Logo light">
                <img class="navbar-brand-light" src="@@path/assets/img/brand/CR4Y_Logo.png" alt="Logo dark">
            </a>
            <div class="navbar-collapse collapse me-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="@@path/index.html">
                                <img src="@@path/assets/img/brand/CR4Y_Logo.png" alt="cr4youth logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/html/pages/programs.html">
                            Programs
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="applyDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                            Hidden Diamonds
                            <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="applyDropdown">
                            <div class="row">
                                <div class="col col-lg-6">
                                    <h6 class="d-block mb-3 text-primary">Programs</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/mentoring.html">Mentoring</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Applications</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/applications/mentee.html">Mentee Application</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/applications/volunteer-mentor.html">Volunteer Mentor Application</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="@@path/html/pages/contact.html" class="nav-link">
                            Contact us
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/html/pages/donate.html">
                            Donate
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/html/pages/events.html">
                            Events
                        </a>
                    </li>

                </ul>

            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

    </nav>
</header>

<script>

</script>